# Maven
target/

# IntelliJ
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# dotenv
.env

# Application
/src/main/resources/application.properties

# Package files
*.jar
*.war

# generated
generated-sources/
